:root{
    --mint:#B9D9C3;
    --toasted:#FBCB7B;
    --tomato:#EB5E30;
    --ceramic:#CDCDC0;
    --navbar-col:#E7717D;
}

* {
  box-sizing: border-box
}

body{
    background-color: #EEE;
    
}


/*Navigation Bar*/
.navbar{
    background-color: #cb9f77;
}

.navbar-collapse{
    justify-content: flex-end;
    margin-right: 2%;
}

.navbar-dark .navbar-nav .nav-link{
    padding-left: 1em;
    padding-right: 1em;
}


/*Jumbotron*/
.jumbotron{
    height: 100vh;
    background-image: url(../images/header_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 70px;
}

.jumbotron-text{
    font-size: 2em;
    text-align: center;
    color: white;  
}

.jumbotron-text h1{
    font-size: 3em;
    text-transform: uppercase;
    padding-top: 20vh;
    margin-bottom: 0;
}

.jumbotron-text p{
    font-weight: 600;
}

/*Social Links*/
.ul-social{
    text-align:center;
    margin: 0;
    
}

.ul-social li{
    list-style: none;
    display: inline-block;
}

.social{
   color: white;
    font-size: 2.5em;
    padding: 20px;
}

.social:hover{
    color: #888;
}

/*ARROW LINK*/
.down-arrow {
    margin-top: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.down-arrow a{
    color: #ffffff;
    font-size: 1.5em;
}


/*About Me*/
.about{
    background-color: #eee;
}

.my-photo img{
    width: 60%;
}

.about-text{
    line-height: 2em;
}

.about-text h2{
    text-transform: uppercase;
}

/*My Services*/
.services{
    margin-top: 70px;
}

.service-title{
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}


/*My Projects*/
.projects{
    margin-top: 70px;
}




